<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minesweeper</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    
<!--<link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/js/script.js"></script>-->
</head>
<body>
    <header>

    </header>

    <main>
        <label for="width">Width:</label>
        <input id="width" name="width" type="number" placeholder="Width" aria-label="">
        <label for="height">Height:</label>
        <input id="height" name="height" type="number" placeholder="Height" aria-label="">
        <button id="startGameButton">Start Game</button>
    </main>

    <footer>

    </footer>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>