<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minesweeper</title>
    <link href="/static/css/style.css" rel="stylesheet">
</head>
<body>
    <header>

    </header>

    <main>
        <label for="width">Width:</label>
        <input id="width" name="width" type="number" placeholder="Width" aria-label="">
        <label for="height">Height:</label>
        <input id="height" name="height" type="number" placeholder="Height" aria-label="">
        <button id="startGameButton">Start Game</button>
        <div class="margin"></div>
        <div class="field"></div>
    
    </main>

    <footer>

    </footer>
    
    <script src="/static/js/script.js"></script>
</body>
</html>